{{#partial "content"}}

    <div class="container m-5 p-5 d-flex">
        <div class="container p-5 m-5 d-flex justify-content-between">
            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Bill Gates</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tech entrepreneur</h6>
                    <p class="card-text">Tech businesses.</p>
                    <a href="#" class="card-link" style="text-decoration:none;">Contact</a>
                </div>
            </div>

            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Jeff Bezos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tech entreprenuer</h6>
                    <p class="card-text">Any business with potential</p>
                    <a href="#" class="card-link" style="text-decoration:none;">Contact</a>
                </div>
            </div>
            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Warren Buffet</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Investor</h6>
                    <p class="card-text">Trading business with potential</p>
                    <a href="#" class="card-link" style="text-decoration:none;">Contact</a>
                </div>
            </div>

            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">John Otieno</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tutor</h6>
                    <p class="card-text">Online tuition business.</p>
                    <a href="#" class="card-link" style="text-decoration:none;">Contact</a>
                </div>
            </div>

            <div class="card me-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Aliko Dangote</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Businessman</h6>
                    <p class="card-text">Start-ups with potential.</p>
                    <a href="#" class="card-link" style="text-decoration:none;color:white !important;">Contact</a>
                </div>
            </div>
            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Akon</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Music entrepreneur</h6>
                    <p class="card-text">Any industry with potential.</p>
                    <a href="#" class="card-link" style="text-decoration:none;">Contact</a>
                </div>
            </div>
            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Peter Munga</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Banker</h6>
                    <p class="card-text">Any brilliant business idea.</p>
                    <a href="#" class="card-link" style="text-decoration:none;">Contact</a>
                </div>
            </div>

            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Vishal Patel</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Manufacturer</h6>
                    <p class="card-text">Manufacturing businesses.</p>
                    <a href="#" class="card-link" style="text-decoration:none;">Contact</a>
                </div>
            </div>
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}