{{#partial "content"}}

    <div class="container m-5 p-5 d-flex">
        <div class="justify-content-center">
            <h2 class=" text-success">{{capitalist.name}}'s Record has been created</h2>
        </div>

        <div class="container p-5 m-5 d-flex justify-content-between" style="color:rgb(42,74,74)!important;">
            <h1>MENTORS</h1>

            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Name: {{capitalist.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Category: {{capitalist.category}}</h6>
                    <p class="card-text">Available Funds: {{capitalist.Amount}}</p>
                </div>

            </div>
        </div>

    </div>
<div class="text-center">
    <a href="/All_investors"><button class="btn btn-primary">Check All available Mentors</button></a>
    <br><br><br>

</div>
{{/partial}}
{{> layout.hbs}}